[submodule "OneDrive/Desktop/NODEJS_AUTH/OneDrive/Desktop/NODEJS_AUTH/nodejs"]
	path = OneDrive/Desktop/NODEJS_AUTH/OneDrive/Desktop/NODEJS_AUTH/nodejs
	url = https://github.com/ngaharon/nodejs.git
[submodule "mcpserver/mcpserver/Chungharon"]
	path = mcpserver/mcpserver/Chungharon
	url = https://github.com/Chungharon/Chungharon.git
[submodule "demo_app/demo_app/futterhaundry"]
	path = demo_app/demo_app/futterhaundry
	url = https://github.com/Chungharon/futterhaundry.git
